/* 공통요소 css */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  padding: 50px 30px 50px 50px;
  border-right: 1px solid #e5e5e5;
  overflow: auto;
}
.sidebar_profile {
  display: flex;
  flex-direction: column;
}
.sidebar_name {
  font-size: 1.5rem;
  font-weight: 600;
}
.sidebar_role {
  font-size: 0.9rem;
  font-weight: 400;
  color: #777777;
}

.sidebar_nav {
  margin-top: 50px;
}
.sidebar_menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  font-size: 1rem;
  font-weight: 600;
}
.menu_number {
  color: #0041cc;
  margin-right: 12px;
}

/*사이드바 하단 글 */
.sidebar_desc {
  margin-top: 80px;
  font-size: 0.95rem;
  line-height: 1.4;
  color: #777777;
}
.sidebar_desc::before {
  content: "";
  display: block;
  width: 20px;
  height: 1px;
  margin-bottom: 25px;
  background-color: #cccccc;
}

/* 메인컨텐츠 공통요소 */
.main_content {
  margin-left: 250px;
  padding: 50px 50px 80px;
}
.main_content > section + section {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #e5e5e5;
}
.section_heading {
  display: flex;
  align-items: baseline;
  gap: 15px;
  margin-bottom: 15px;
}
.number {
  flex-shrink: 0;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2;
  color: #0041cc;
}
.title {
  margin: 0;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2;
  color: #171717;
}
